<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="footer">
  <footer>
    <!-- 상단 링크 메뉴 -->
    <div class="footer-links">
      <a href="#">이용약관</a>
      <a href="#"><strong>개인정보처리방침</strong></a>
      <a href="#">이메일무단수집금지</a>
      <a href="#">윤리경영</a>
    </div>

    <!-- 구분선 -->
    <hr class="footer-divider" />

    <!-- 회사 정보 -->
    <div class="footer-info">
      <p>
        <strong> © 주식회사 딱돼머니</strong> &nbsp; 대표자: 김용돈 &nbsp; 서울특별시 용산구 돈길 77, 4층
      </p>
      <p>
        사업자등록번호: 123-45-67890 &nbsp; 통신판매업신고: 제2025-서울용산-1234호
      </p>
      <p class="copyright">
        © 2025 Yonghage Co., Ltd. All Rights Reserved.
      </p>
    </div>
  </footer>
</div>

</html>
